        <footer>
        </div>
        <div class="flexbox_hard">
            <div class="block_1_flex"></div>
            <div class="block_2_flex">
                <p>Easy</p>
                <p>Medium</p>
                <p>Hard</p>
            </div>
            <div class="block_3_flex"><img src="img/Photo-7.jpg" alt=""></div>
        </div>
        <div class="flexbox_hard_second">
            <div class="block_4_flex"></div>
            <div class="block_5_flex"></div>
            <div class="block_6_flex"></div>
        </div>
        <div class="flexbox_hard_third">
            <div class="block_7_flex"></div>
        </div>
        <div>
            <p class="text_chi">Chi-Chi or Chichi</p>
            <div class="line_flex1"><img src="img/Line-3.jpg" alt=""></div>
            <img class="facephoto" src="img/{UberData} copy.jpg" alt="">
            <p class="text_recipeof">Recipe by <br><b>Smuckersreg Toppings</b> </p>
            <p class="icons_flexbox"><i class="fa-solid fa-clock"></i> 15 mins | <i class="fa-solid fa-comment"></i> 12 <i class="fa-solid fa-eye"></i> 37</i></p>
            <img class="img_flexblock" src="img/Photo-8.jpg" alt="">
        </div>

        <div>
            <p class="txt_flex_block">Popular Now</p>
            <p class="txt_vanilla">Vanilla Frozen Coffee</p>
            <p class="text_bid_co">Mix coffee, sugar and cream. <br>
                Pour into blender and add ice cubes. <br>
                Blend until smooth.</p>
                <input class="button_recipe_get" type="button" value="GET IT RECIPE">
                <p class="icons_photoblock"><i class="fa-solid fa-clock"></i> 6 mins | <i class="fa-solid fa-comment"></i> 240 <i class="fa-solid fa-eye"></i> 420</p>
        </div>

        <div>
            <p class="text_block_3">Recipe</p>
            <img class="line_3block" src="img/Line-3.jpg" alt="">
            <p class="icons_3rd_block"><i class="fa-solid fa-file-pdf"></i> <i class="fa-solid fa-envelope"></i> <i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-pinterest"></i></p>
            <img class="ph_3_block" src="img/Photo-9.jpg" alt="">
            <p class="text_topping">by <b>Smuckersreg Toppings </b> </p>
            <p class="lorem_recipe">Thanks for the recipe <br>
                lorem ipsum bla bla bla  <br>
                Thanks for the recipe lore</p>
            <img class="img_block_3" src="img/fa6310ce952b5e606ccfe99ad31c81b1 copy 3.jpg" alt="">
            <p class="text_topping1">by <b>Smuckersreg Toppings </b> </p>
            <p class="lorem_recipe">Thanks for the recipe <br>
                lorem nks for the recipe</p>
            <img class="img_block_3" src="img/pexels-photo-218844.jpg" alt="">
            <p class="text_topping1">by <b>Smuckersreg Toppings </b> </p>
            <p class="lorem_recipe">Thanks for the recipe <br>
                lorem nks for the recipe</p>
                <input class="button_recipe1" type="button" value="VIEW MORE">
        </div>
        </footer>

    </div> <!-- end wrapper -->

        <script src="js/main.min.js"></script>
    </body>
</html>